.sidenavx {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ddd;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenavx a {
  padding: 6px 8px 12px 12px;
  text-decoration: none;
  font-size: 15px;
  color: #444;
  display: block;
  font-weight: bold;
}

.sidenavx a:hover {
  color: #000;
  font-weight: bold;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  /*font-size: 28px;*/ /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenavx {
    padding-top: 15px;
  }
  .sidenavx a {
    font-size: 18px;
  }
}
